@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */ 
}

body{
    background-image: linear-gradient(to right, #F2C12E,#F2AE30)
}

main {
     background-color: white;
     border-radius: 20px;
     box-shadow: 5px 5px 15px rgba(139, 100, 27, 0.596);
     width: 600px;
     padding: 10px;
     margin: auto;
}

h1 {
    color: #202022;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(26, 26, 29, 0.432);
}
 
h2 {
    color: #00747C;
}

p {
   text-align: justify;
}